<link href="/static/message.css" rel="stylesheet" type="text/css" />
{% for message in messages %}
    {%if message.m_type=='twitter'%}
        {% include twitter_message.html%}
    {%elif message.m_type=='github'%}
        {% include github_message.html%}
    {%elif message.m_type=='instagram'%}
        {% include instagram_message.html%}
    {%end%}
{% end %}

{% try %}
{%from http_bz import removeUrlLastPath%}
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <a href='{{removeUrlLastPath(request.uri)}}{{more}}#{{anchor}}' class="btn  btn-defalt">更多...</a>
    </div>
    <div class="col-md-4">
    </div>
</div>
{% except %}
{% end %}
