{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
            <div class="callout callout-defalt">
                <p>每个人都是一个品牌</p>
                <p>你一定不愿意错过关于她/他的任何一条动态</p>
                <p>拿起微信扫一扫, 实时推送, 不再有遗漏</p>
            </div>
                <img class="img-responsive" src="{{url}}"/>
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
{% end %}
