{% from autolink import linkify%}
<div id="twitter_{{message.id}}" class="box box-solid item">
    <div class="box-header">
        <h2 class="box-title">
            <a href="/user?god_name={{message.user_name}}">
                <img src="/ProxyHandler/{{message.avatar}}" class="direct-chat-img">
                <div class="name">
                    {{message.name}}
                </div>
            </a>
        </h2>
        <div class="box-tools pull-right">
            <a class="a-icon" target="_blank" href="{{message.href}}">
                <span class="round-icon bg-icon-blue">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
            <a href="/message?t={{message.m_type}}&id={{message.id}}">
                <sub>{{message.created_at}}</sub>
            </a>
        </div>
    </div>
    <div class="box-body">
        <p class="description_bz">{{linkify(message.text, {'target': '_blank'}) }}</p>
        {%if message.extended_entities and message.extended_entities.get('media')%}
        {%for media in message.extended_entities['media']%}
        <a href="{{media['media_url_https']}}">
            <img src="/ProxyHandler/{{media['media_url_https']}}" class="img-responsive" >
            <br>
        </a>
            {%end%}
            {%end%}
    </div>
</div>
