<div v-show="user_info" transition="fade" class="ui piled center aligned segment">
    <h4 class="ui header">{{user_info.user_name}}</h4>
    <input v-disable="disable_edit" id="profile-image-upload" class="hide" type="file" @change="previewImg" accept="image/*"/>
    <a id="avatar" @click="changeImg" href="javascript:void(0)" data-content="点击更换头像">
        <img :src="avatar" id="profile-image" class="ui image" />
    </a>
    <sub v-show="!disable_edit" >点击更换头像</sub>
    <p v-html="user_info.bio">
    </p>
    <form class="ui form">
        <!--
        <div class="inline field">
            <label>Blog</label>
            <input @focus="autoInsert('blog')" v-model="user_info.blog" v-disable="disable_edit" type="text" placeholder="Blog">
        </div>
        -->
        <div v-show="!disable_edit" class="field">
            <label>个性签名</label>
            <simditor :content.sync="user_info.bio"></simditor>
        </div>

        <div class="inline field">
            <label>
                <a :class="{ disabled: user_info.twitter=='' }" href="https://twitter.com/{{user_info.twitter}}" target="_blank" class="ui circular twitter icon button" data-content="Twitter">
                    <i class="twitter icon"></i>
                </a>
            </label>
            <input v-model="user_info.twitter" @focus="autoInsert('twitter', user_info.user_name)" v-disable="disable_edit" type="text"  placeholder="the twitter name">
        </div>

        <div class="inline field">
            <label>
                <a :class="{ disabled: user_info.github=='' }" href="https://github.com/{{user_info.github}}" target="_blank" class="ui circular github icon button" data-content="Github">
                    <i class="github icon"></i>
                </a>
            </label>
            <input v-model="user_info.github" @focus="autoInsert('github', user_info.user_name)" v-disable="disable_edit" type="text"  placeholder="the twitter name">
        </div>

        <div class="inline field">
            <label>
                <a :class="{ disabled: user_info.instagram=='' }" href="https://instagram.com/{{user_info.instagram}}" target="_blank" class="ui circular instagram icon button" data-content="Instagram">
                    <i class="instagram icon"></i>
                </a>
            </label>
            <input v-model="user_info.instagram" @focus="autoInsert('instagram', user_info.user_name)" v-disable="disable_edit" type="text"  placeholder="the instagram name">
        </div>

        <div class="inline field">
            <label>
                <a :class="{ disabled: user_info.tumblr=='' }" href="http://{{user_info.tumblr}}.tumblr.com" target="_blank" class="ui circular tumblr icon button" data-content="Tumblr">
                    <i class="tumblr icon"></i>
                </a>
            </label>
            <input v-model="user_info.tumblr" @focus="autoInsert('tumblr', user_info.user_name)" v-disable="disable_edit" type="text"  placeholder="the tumblr name">
        </div>
    </form>

    <div class="ui center aligned basic segment">
        <follow v-show="!is_my" :followed.sync="user_info.followed" :god_id="user_info.god_id"></follow>
        <button @click="save" class="ui basic button">
            <i class="icon file text"></i>
            编辑
        </button>
    </div>
</div>
